.movies__movie {
	position: relative;
	display: flex;
	width: 35%;
	min-height: 280px;
	background-color: white;
	margin: 30px 15px;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

a {
	display: contents;
	text-decoration: none;
	color: black;
}

.movies__movie:hover {
	transform: scale(0.98);
}

.movies__movie img {
	width: 180px;
	height: auto;
	position: absolute;
	top: -20px;
	left: 15px;
	box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
}

.movies__movie .movie__data {
	width: 60%;
	position: absolute;
	top: 5%;
	left: 35%;
}

.movie__data .movie__title {
	position: relative;
	margin-bottom: 0;
}

.movie__data .genres {
	margin-top: 0;
	color: rgba(34, 34, 34, 0.5);
	word-break: break-all;
}

.movie__data .movie__summary {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 6;
	overflow: hidden;
}
